html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
}
body{
    
    /* background: linear-gradient(0deg, #a45252, #67679a);
    background-size: 400% 400%;

    -webkit-animation: BlueRed 15s ease infinite;
    -moz-animation: BlueRed 15s ease infinite;
    animation: BlueRed 15s ease infinite; */
}
.poem{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ironopolis{
    
}
.ironopolis h1{
    margin: 0;
    font-size: 5rem;
    color: antiquewhite;
    /* background: linear-gradient(0deg, #a45252, #67679a); */
}
@-webkit-keyframes BlueRed {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes BlueRed {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes BlueRed { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}