html,
body {
  height: 100%;
  background-color: #eee;
}
body {
  margin: 0;
  font-family: "Amatic SC", cursive;
}
body {
  /* background: linear-gradient(0deg, #a45252, #67679a);
    background-size: 400% 400%;

    -webkit-animation: BlueRed 15s ease infinite;
    -moz-animation: BlueRed 15s ease infinite;
    animation: BlueRed 15s ease infinite; */
}
.poem {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ironopolis {
}
.ironopolis h1 {
  margin: 0;
  font-size: 3.5rem;
  text-align: center;
  color: #e5e5e5;
  transition: all 1.5s ease-in-out;
  /* background: linear-gradient(0deg, #a45252, #67679a); */
}
.ironopolis h1:hover {
  transform: scale(1.1);
  letter-spacing: 0.3rem;
  color: #e3e3e3;
}
@media only screen and (min-width: 768px) {
  .ironopolis h1 {
    font-size: 5rem;
  }
}
@-webkit-keyframes BlueRed {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes BlueRed {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes BlueRed {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
